/* GLOBAL STYLES */

html,
body {
  height: 100%;
  background-color: #fff;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 60px;
}

a,
a:hover {
  color: #008C8A;
}

a.outline {
  border: 1px solid #008C8A;
  border-radius: 3px;
  display: inline-block;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 15px 25px;
  text-transform: uppercase;
}

a.outline:hover {
  background: #008C8A;
  color: #fff;
  text-decoration: none;
}

a.outline-white {
  border-color: #fff;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 150px;
}

a.outline-white:hover {
  background: #fff;
  color: #222;
}

a.primary-color,
button.primary-color,
.btn-warning {
  background: #DA4F0E;
  border-color: #DA4F0E;
  color: #fff;
}

a.primary-color:hover,
button.primary-color:hover,
.btn-warning:hover {
  background: transparent;
  border-color: #DA4F0E;
  color: #DA4F0E;
}

a.primary-color:hover *,
button.primary-color:hover * {
  color: #DA4F0E;
}

a.primary-color h2,
a.primary-color h3,
button.primary-color h2,
button.primary-color h3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
}

a.primary-color h2,
button.primary-color h2 {
}

a.primary-color h3,
button.primary-color h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
  text-transform: initial;
}

p, li {
  font-size: 16px;
  line-height: 160%;
}

p, ul, ol {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}








/* NAVIGATION */

.navbar {
  background-color: transparent;
  border-bottom: none;
  margin-bottom: -65px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: transparent;
  border-bottom: 1px solid #fff;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 0;
  padding-right: 0;
}

.navbar-header {
  background: rgba(0,0,0,0.8);
}

.navbar-inverse .navbar-collapse {
  background: #111;
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color: rgba(255,255,255,0.7);
  font-weight: 300;
  letter-spacing: 1px;
}

.navbar-inverse .navbar-brand img {
  width: 40px;
}

.navbar-inverse .navbar-brand img.logo-mobile {
  width: 34px;
}

.navbar-inverse .navbar-brand img.logo-2x {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

  .navbar-inverse .navbar-brand img.logo-1x {
    display: none;
  }

  .navbar-inverse .navbar-brand img.logo-2x {
    display: inline-block;
  }
  
}









/* CONTACT MODAL */

.modal-header,
.modal-footer {
  text-align: center;
}

.modal-header {
  border-bottom-color: #ddd;
}

.modal-footer {
  border-top-color: #ddd;
  padding-top: 29px;
  padding-bottom: 30px;
}

.modal-title {
  font-size: 30px;
  font-weight: 900;
}

.modal-body {
  padding-bottom: 10px;
}

.modal-body p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 20px;
  font-weight: 300;
}

.modal-content {
  background: #eee;
}












/* HOME */

.banner-wrapper {
  background: #222 url(../images/home-banner.jpg);
  background-size: cover;
  color: #fff;
  display: table;
  height: 105%; /* For at least Firefox */
  min-height: 105%;
  width: 100%;
}

.banner-wrapper-inner {
  display: table-cell;
}

.banner-wrapper-inner {
  vertical-align: middle;
}

.banner-wrapper h2,
.banner-wrapper h3,
.banner-wrapper p {
  text-align: center;
}

.banner-wrapper h2 {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
}

.banner-wrapper h3 {
  font-size: 20px;
  font-weight: 100;
  margin-top: 10px;
}

.banner-wrapper p {
  margin-top: 40px;
}

.banner-wrapper a {
  border-color: #fff;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 150px;
}

.banner-wrapper a.fill,
.banner-wrapper a:hover {
  background: #fff;
  color: #222;
}

.banner-wrapper a.fill {
  border-color: #fff;
}

.banner-wrapper a.fill:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.banner-wrapper .scroll-indicator {
  border: none;
  bottom: 30px;
  left: 50%;
  margin: 0 0 0 -20px;
  min-width: 0;
  opacity: 0.5;
  padding: 0;
  position: absolute;
}

.banner-wrapper .scroll-indicator:hover {
  background: transparent;
  opacity: 1;
}

.banner-wrapper .scroll-indicator img {
  height: 40px;
  margin: 0;
  width: 40px;
}









.text-section,
.clients-list,
.location-map {
  padding-top: 40px;
}

.text-section,
.clients-list {
  padding-bottom: 100px;
}

.light-gray {
  background: #eee;
}

.clients-list,
.location-map,
.services-footer {
  text-align: center;
}

.text-section h2,
.clients-list h2,
.location-map h2 {
  font-size: 40px;
  font-weight: 900;
}

.text-section h3,
.clients-list h3,
.location-map h3 {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin: 20px 0 40px;
}

.text-section p,
.clients-list p,
.location-map p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 20px;
  font-weight: 300;
}





.service-grid .col-md-4 {
  background-color: #111;
  background-size: cover;
  display: table;
  height: 315px;
  text-align: center;
}

.service * {
  background-size: cover;
}

.service-1 {
  background-image: url(../images/service-1.png);
}

.service-2 {
  background-image: url(../images/service-2.png);
}

.service-3 {
  background-image: url(../images/service-3.png);
}

.service-4 {
  background-image: url(../images/service-4.png);
}

.service-5 {
  background-image: url(../images/service-5.png);
}

.service-6 {
  background-image: url(../images/service-6.png);
}

.service-grid h3,
.service-grid a,
.service-grid a:hover {
  color: #fff;
  margin: 0;
  text-decoration: none;
}

.service-grid h3 {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 120%;
}

.service-grid a {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.services-footer {
  margin-top: 20px;
  margin-bottom: 120px;
}




.call-to-action {
  padding-top: 100px;
  padding-bottom: 100px;
}

.call-to-action {
  border-bottom: 5px solid #008C8A;
  text-align: center;
}

.footer {
  background: #111;
  color: #fff;
  padding-bottom: 60px; 
}

.footer .col-md-4 {
  padding-top: 60px;
}

.footer h2 {
  font-weight: 300;
  font-size: 22px;
  margin: 0 0 15px;
}

.footer h3,
.footer p {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.footer form {
  margin-top: 15px;
}

.footer p {
  font-size: 14px;
  line-height: 110%;
}

.footer .newsletter p {
  margin-top: 15px;
}

.footer .blog p {
  margin-bottom: 15px;
}

.footer .contact p {
  margin-bottom: 5px;
}










/* SERVICES */

.banner-minimal {
  height: 80px;
  min-height: 80px;
}

.image-slide {
  background-color: #222;
  background-size: cover;
  color: #fff;
}

.sidebar h5,
.sidebar p {
  line-height: 140%;
  margin: 20px 0 0;
}

.sidebar p {
  font-size: 14px;
}

p.byline {
  color: rgba(255,255,255,0.8);
  margin: 0;
  padding: 0;
}

.service-slide-1 {
  background-image: url(../images/service-1.png);
}

.service-slide-2 {
  background-image: url(../images/service-2.png);
}

.service-slide-3 {
  background-image: url(../images/service-3.png);
}

.service-slide-4 {
  background-image: url(../images/service-4.png);
}

.service-slide-5 {
  background-image: url(../images/service-5.png);
}

.service-slide-6 {
  background-image: url(../images/service-6.png);
}







@media (min-width: 992px) {
  
}

@media (min-width: 768px) {

  .navbar-header,
  .navbar-inverse .navbar-collapse {
    background: transparent;
  }
  
  .navbar-nav>li>a {
    padding-top: 25px;
  }

  .banner-wrapper h2 {
    font-size: 64px;
    letter-spacing: 0;
  }

  .banner-wrapper h3 {
    font-size: 45px;
  }

  .form-inline .form-control {
    max-width: 130px;
  }
  
}

@media (max-width: 768px) {
  
  .navbar-inverse .navbar-brand {
    padding: 8px 15px 0;
  }
  
}