/* GLOBAL STYLES */

html,
body {
  height: 100%;
  background-color: #fff;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 60px;
}

a,
a:hover {
  color: #008C8A;
}

a.outline {
  border: 1px solid #008C8A;
  border-radius: 3px;
  display: inline-block;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 15px;
  text-transform: uppercase;
}

a.outline:hover {
  background: #008C8A;
  color: #fff;
  text-decoration: none;
}

a.primary-color,
.btn-warning {
  background: #DA4F0E;
  border-color: #DA4F0E;
  color: #fff;
}

a.primary-color:hover,
.btn-warning:hover {
  background: transparent;
  border-color: #DA4F0E;
  color: #DA4F0E;
}

a.primary-color:hover * {
  color: #DA4F0E;
}

a.primary-color h2,
a.primary-color h3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
}

a.primary-color h2 {
}

a.primary-color h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  text-transform: initial;
}

p, li {
  font-size: 16px;
  line-height: 160%;
}

p, ul, ol {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}








/* NAVIGATION */

.navbar {
  background-color: transparent;
  border-bottom: none;
  margin-bottom: -65px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: transparent;
  border-bottom: 1px solid #fff;
}

.navbar-header {
  background: rgba(0,0,0,0.8);
}

.navbar-inverse .navbar-collapse {
  background: #111;
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color: rgba(255,255,255,0.7);
  font-weight: 300;
  letter-spacing: 1px;
}

.navbar-inverse .navbar-brand img {
  width: 24px;
}













/* HOME */

.banner-wrapper {
  background: #222 url(../images/home-banner.jpg);
  background-size: cover;
  color: #fff;
  display: table;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  width: 100%;
}

.banner-wrapper-inner {
  display: table-cell;
}

.banner-wrapper-inner {
  vertical-align: middle;
}

.banner-wrapper h2,
.banner-wrapper h3,
.banner-wrapper p {
  text-align: center;
}

.banner-wrapper h2 {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
}

.banner-wrapper h3 {
  font-size: 20px;
  font-weight: 100;
  margin-top: 10px;
}

.banner-wrapper p {
  margin-top: 40px;
}

.banner-wrapper a {
  border-color: #fff;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 150px;
}

.banner-wrapper a.fill,
.banner-wrapper a:hover {
  background: #fff;
  color: #222;
}

.banner-wrapper a.fill {
  border-color: #fff;
}

.banner-wrapper a.fill:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.banner-wrapper .scroll-indicator {
  border: none;
  bottom: 30px;
  left: 50%;
  margin: 0 0 0 -20px;
  min-width: 0;
  opacity: 0.5;
  padding: 0;
  position: absolute;
}

.banner-wrapper .scroll-indicator:hover {
  background: transparent;
  opacity: 1;
}

.banner-wrapper .scroll-indicator img {
  height: 40px;
  margin: 0;
  width: 40px;
}









.text-section,
.clients-list,
.location-map {
  padding-top: 40px;
}

.text-section,
.clients-list {
  padding-bottom: 100px;
}

.light-gray {
  background: #eee;
}

.clients-list,
.location-map,
.services-footer {
  text-align: center;
}

.text-section h2,
.clients-list h2,
.location-map h2 {
  font-size: 40px;
  font-weight: 900;
}

.text-section h3,
.clients-list h3,
.location-map h3 {
  font-size: 30px;
  font-weight: 300;
  margin: 20px 0 40px;
}

.text-section p,
.clients-list p,
.location-map p {
  font-size: 20px;
}





.service-grid .col-md-4 {
  background: #222 url(../images/home-banner.jpg);
  background-size: cover;
  display: table;
  height: 315px;
  text-align: center;
}

.service-grid h3,
.service-grid a,
.service-grid a:hover {
  color: #fff;
  margin: 0;
  text-decoration: none;
}

.service-grid h3 {
  font-size: 16px;
  font-weight: 300;
}

.service-grid a {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.services-footer {
  margin-top: 20px;
  margin-bottom: 20px;
}




.call-to-action {
  padding-top: 100px;
  padding-bottom: 100px;
}

.call-to-action {
  border-bottom: 5px solid #008C8A;
  text-align: center;
}

.footer {
  background: #111;
  color: #fff;
  padding-bottom: 60px; 
}

.footer .col-md-4 {
  padding-top: 60px;
}

.footer h2 {
  font-weight: 300;
  font-size: 22px;
  margin: 0 0 15px;
}

.footer h3,
.footer p {
  color: rgb(153, 153, 153);
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.footer form {
  margin-top: 15px;
}

.footer p {
  font-size: 14px;
  line-height: 110%;
}

.footer .newsletter p {
  margin-top: 15px;
}

.footer .blog p {
  margin-bottom: 15px;
}

.footer .contact p {
  margin-bottom: 5px;
}



@media (min-width: 992px) {
  
  .container,
  .cover-container {
    width: 750px;
  }
  
}

@media (min-width: 768px) {

  .navbar-header,
  .navbar-inverse .navbar-collapse {
    background: transparent;
  }
  
  .cover-container {
    width: 100%;
    }

  .banner-wrapper h2 {
    font-size: 64px;
    letter-spacing: 0;
  }

  .banner-wrapper h3 {
    font-size: 45px;
  }

  .form-inline .form-control {
    max-width: 130px;
  }
  
}